@import "../style-main.scss";

.bg{
  background: none !important;
  margin-bottom: 0 !important;
  padding: .25rem 1rem !important;
}

.bg {
  li{
    color: #828282;
    font-size: 16px;
  }
  a{
    color: #828282;
  }
}
.sub-title_bc{
  color: #828282;
  @include fluidFontSize(12px, 16px, 480px, 1280px, 14px);
  line-height: 1.3;
}